section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 5vw;
}

article{
	padding: 2vw 0;
}

h2{
	text-align: center;
	line-height: 2.5vw;
	padding: 2vw 0;
}

img{
	border-radius: 5px;
}

section img:hover{
	box-shadow: 1px 1px 10px 1px #000;
	transform: scale(1.5);
	border-radius: 30%;
	transition: .1s;
}

figcaption{
	text-align: center;
	padding: 1vw 0;
	font-variant: small-caps;
	font-weight: bolder;
}
