/* RESET DE ESTILOS*/
*{
	margin: 0px;
	padding: 0px;
} 

/* ELEMENTOS COMUNES */
a{
	color: inherit;
	text-decoration: none;
}

main a{
	font-weight: bold;	
}

p{
	margin-bottom: 15px;
	text-align: justify;
}

/* FLEX */
.flex-container{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.flex1{flex:1; min-width: 240px;}
.flex2{flex:2;}
.flex3{flex:3;}
.flex4{flex:4;}
.flex5{flex:5;}
.flex6{flex:6;}

/* TEXTOS */
.centrado{text-align: center;}
.izquierda{text-align: left;}
.derecha{text-align: right;}
.justificado{text-align: justify;}

/* ELEMENTOS DE FORMULARIO*/
fieldset{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px darkblue;
}

/* FIGURAS E IMAGENES */  
figcaption{
	margin: 10px 0px 10px 0px;
}
img{
	background-color: rgba(255,255,255,0.7);
	transition:  0.5s;
	outline: solid 1px darkblue;
}

/* HEADINGS */
h1{
	margin: 20px;
	text-align: center;
}

h4{
   margin-bottom: 5px;
}
  
  
/* INICIO DE LA HOJA DE ESTILOS */ 
  
html{
   background-color: rgba(240,240,255,0.9);
}   

body{
   font-family: verdana, arial;
   background-color: white;
   width: 90%;
	 max-width: 1300px;
   padding: 20px;
   border-radius: 20px;
   box-shadow: 2px 2px 5px rgba(60,60,60,0.6);
   margin: 20px auto 20px auto;
   color: darkblue;
}

header{
	display: flex;
	flex-wrap:wrap;
	padding: 10px;
	text-align: center;
}
header figure{
	flex:1;
	max-width: 120px;
	max-height: 120px;
	outline: none;
}
header hgroup{
	flex: 3;
	margin: auto;
	text-align: center;
	font-family: courier, arial, verdana;
}
header h1{
	font-size: 4vw; 
	margin-bottom: 10px;
}
header h2{
	text-decoration: none;
	font-size: 2.5vw; 
}
header figure img{
	height: 100%;
	width: 100%;
	outline:none;
}

nav, footer{
	background-color: darkblue;
	color: white;
	padding: 5px;
	border-radius: 10px;
}

nav ul li{
	min-width: 200px;
	padding: 5px;
	transition: 0.5s;
	text-align: center;
	border-radius: 5px;
	list-style-type:none;
	background-color: rgba(255,255,255,0.2);
	margin: 2px;
}

nav ul li:hover{
	color: darkblue;
	background-color: white;
}

main h2, main h3{
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: solid 2px darkblue;
}

.interactivo{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.interactivo figure{
	flex:1;
	padding: 10px;
	min-width: 200px;
	max-width: 300px;
	text-align: center;
	margin:20px;
	border: solid 1px black;
	border-radius: 5px;
	background-color: white;
	box-shadow: 3px 3px 3px rgba(60,60,60,0.6);
}
.interactivo figcaption{
	font-style: italic;
}
.interactivo figure img{
	background-color: lightblue;
	width: 100%;
	transition: 0.5s;
}
.interactivo label{
  display: block;
}
.interactivo input[type="range"]{
	margin: 10px;
	width: 80%;
}
button[type="button"]{
	padding: 5px 10px;
}
.interactivo output{
	display: inline-block;
	margin: 10px 0px 10px 0px;
	font-family: courier, arial, verdana;
	color: grey;
	font-size: 1.1em;
}

#descripcion{
	padding: 20px;
}

#descripcion li{
	margin-left: 30px;
}

footer{
	background-color: darkblue;
	text-align: center;
	padding: 10px;
	margin: 30px 0px 0px 0px;
	font-size: 0.7em;
}

footer a{
	cursor: pointer;
	font-weight: bold;
}






