*{
				margin: 0px;
				padding: 0px;
			}
               :root{
                    background-color: white;
               }
               body{
                    background-color: lightblue;
                    margin: auto;
                    width: 90%;
               }

			#galeria figure{
                    background-color: white;
                    box-shadow: 2px 2px 2px rgba(60,60,60,0.6);
				display: inline-block;
				margin: 10px;
				padding: 10px;
				border: solid 2px black;
			}
			#galeria figure img{
				height: 200px;
				width: 200px;
			}
               #galeria figure figcaption{
                    text-align: center;
               }
			figure.grande{
				position: fixed;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.6);
				text-align: center;
			}
			figure.grande img:not(.cerrar){
                    background-color: rgba(255,255,255,0.8);
                    box-shadow: 5px 5px 5px rgba(60,60,60,0.6);
                    padding: 5%;
                    margin-top:5%;                    
				height: 60%;
			}
			figure.grande figcaption{
				color: white;
				font-size: 20px;
			}
               figure.grande a{
                    position: absolute;
                    color: white;          
                    z-index: 100;
                    background-color: red;
                    padding: 15px;
                    cursor: pointer;
                    border-radius: 5px;
                    box-shadow: 2px 2px 2px rgba(60,60,60,0.6);
                    font-weight: bold;
                    font-family: helvetica;
               }
               figure.grande a.anterior{
                    top: 10%;
                    left: 20%;
			}
               figure.grande a.siguiente{
                    top: 10%;
                    right: 20%;
			}
			figure.grande p{
				color: white;
				font-size: 18px;
			}
               figure.grande img.cerrar{
                    height: 50px;
                    width: 50px;
                    position: absolute;
                    top: 50px;
                    right: 50px;
               }

